*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

.soft-blue-accent {
    color: hsl(215, 51%, 70%);

}

.cyan-accent {
    color: hsl(178, 100%, 50%);
}

/* Hidden page header and heading */
.visibility-hidden {
    visibility: hidden;
}

.preview-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container {
    display: grid;
    width: 90%;
    max-width: 400px;
    min-width: 300px;
    margin: 0 auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1.5rem;
}

.preview-card__image {
    /* padding-top: 3rem; */
    margin: 1.5rem auto 2rem;
    width: 83%;
    border-radius: 9px;
}

.preview-card__title {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.image-hover-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    background-color: hsl(178, 100%, 50%);
    border-radius: 9px;
    text-align: center;
}

.preview-card__title,
.preview-card__description,
.preview-card__price,
.preview-card__artist {
    width: 83%;
    margin: 0 auto;
}










.preview-card__description {
    padding-bottom: 1.5rem;
}


.preview-card__price {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    flex-shrink: 1;
}

.price::before {
    content: url(/images/icon-ethereum.svg);
    position: relative;
    bottom: -2px;
    right: 6px;
}

.end-of-sale{
    flex-shrink: 0;
}
.end-of-sale::before {
    content:url(/images/icon-clock.svg);
    position: relative;
    bottom: -2px;
    right: 5px;
}


hr {
   border: .5px solid hsl(215, 51%, 70%);
   width: 83%;
}

.preview-card__artist {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 1rem;
}

.preview-card__artist p {
    padding-left: 7px;
}

.preview-card__artist::before {
    background-image: url(/images/image-avatar.png);
    background-size: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid hsl(215, 51%, 70%);
    border-radius: 50%;
    transform: scale(.8);
    display: inline-block;
    content: "";
}


.preview-card__title:hover,
.preview-card__artist a:hover {
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}

.preview-card__image:hover {
    opacity: 0.3;
}

